<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">

    <div>
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      <small>
        <div style="float:left"><a href="{{ site.baseurl }}/">Home</a>
        {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
            / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
          {% else %}
            / <a href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
          {% endif %}
        {% endfor %}
        </div>

        <div style="float:right"><em><a href="{{site.github.repository_url}}/edit/{{site.github.current_branch}}/{{page.path}}">Edit this page</a> - <a href="{{site.github.repository_url}}/commits/{{site.github.current_branch}}/{{page.path}}">View page history</a> - <a href="{{site.github.repository_url}}/tree/{{site.github.current_branch}}/{{page.path}}">View page source</a></em>
        </div>
      </small>
    </div>

    <div class="page" style="clear:both">
      <h1 class="page-title">{{ page.title }}</h1>
      {{ content }}
    </div>

    </div>

  </body>
</html>
